@font-face {
  font-family: "Gogh-ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Gogh-ExtraBold.woff") format("woff"), url("../fonts/Gogh-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Onest-Regular.woff") format("woff"), url("../fonts/Onest-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Medium";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Onest-Medium.woff") format("woff");
}
@font-face {
  font-family: "Onest-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Onest-Bold.woff") format("woff"), url("../fonts/Onest-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Onest-Black";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Onest-Black.woff") format("woff"), url("../fonts/Onest-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Mulish-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Mulish-Medium.woff") format("woff"), url("../fonts/Mulish-Medium.woff2") format("woff2");
}