@import 'fonts';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Onest-Regular';
    font-size: 16px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-size: 48px;
    font-family: 'Gogh-ExtraBold';
    max-width: 925px;
    margin-bottom: 40px;
}

.btn{
    border-radius: 74px;
    background: #5888DE;
    font-family: 'Gogh-ExtraBold';
    color: #fff;
    box-shadow: 8px 10px 0px #C1D4F7;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 18px 32px;
}

.header{
    padding-top: 50px;
    &__inner{
        border-radius: 500px;
        padding-left: 30px;
        margin-bottom: 50px;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{}
    &__menu{
        &-list{}
        &-li{
            display: inline-block;
            margin-right: 30px;
        }
        &-li:last-child{
            margin-right: 0;
        }
        &-link{}
    }
    &__btn{
        background: #6494EC;
        border-radius: 74px;
        font-family: 'Gogh-ExtraBold';
        color: #fff;
        padding: 10px 50px;
    }
}

.about{
    &__inner{}
    &__descr{
        display: flex;
        justify-content: space-between;
        &-p{
            margin-bottom: 20px;
            margin-right: 40px;
            width: 490px;
        }
        &-list{}
        &-li{
            font-size: 20px;
            font-family: 'Onest-Medium';
            position: relative;
            padding-left: 80px;
            margin-bottom: 30px;
        }
        &-li:last-child{
            margin-bottom: 0;
        }
        &-li::before{
            content: '';
            position: absolute;
            width: 64px;
            height: 64px;
            top: 0;
            left: 0;
            background-image: url(../images/star.svg);
            background-repeat: no-repeat;
        }
        &-li span{
            font-size: 40px;
            color: #6494EC;
            margin-right: 15px;
        }
        &-img{
            transform: translateY(-140px);
        }
    }
}

.services{
    margin-bottom: 90px;
    &__inner{}
    &__descr{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
        &-item{
            height: 250px;
            width: 30%;
            border-right: 5px solid #e9e9e9;
        }
        &-item:last-child{
            border-right: none;
        }
        &-title{
            text-align: center;
            font-family: 'Onest-Bold';
            font-size: 20px;
            margin-bottom: 30px;
        }
        &-list{
            margin-bottom: 70px;
        }
        &-li{
            line-height: 128%; /* 20.48px */
            letter-spacing: 0.24px;
            position: relative;
            padding-left: 50px;
            margin-bottom: 32px;
        }
        &-li:last-child{
            margin-bottom: 0;
        }
        &-li::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url(../images/services-circle.png);
            background-repeat: no-repeat;
        }
        &-btn{
            text-align: center;
        }
    }
}

.advantages{
    padding-top: 20px;
    padding-bottom: 120px;
    height: 100%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 450px;
        background-image: url(../images/circles-l.svg);
        background-repeat: no-repeat;
    }
    &__inner{}
    &__items{
        display: flex;
        // justify-content: space-between;
    }
    &__item:first-child{
        margin-right: 190px;
    }
    &__item{
        &-p{
            margin-bottom: 32px;
            line-height: 155%; 
            letter-spacing: 0.24px;
            // max-width: 320px;
        }
        &-p.heart,
        &-p.lightning,
        &-p.card,
        &-p.lock,
        &-p.star,
        &-p.darts{
            position: relative;  
            padding-left: 110px; 
        }
        &-p.heart::before,
        &-p.lightning::before,
        &-p.card::before,
        &-p.lock::before,
        &-p.star::before,
        &-p.darts::before,
        &-p.heart::before{  
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            width: 70px;
            height: 100%;

        }
        &-p.heart::before{
            background-image: url(../images/heart.svg);
        }
        &-p.lightning::before{
            background-image: url(../images/lightning.svg);
        }
        &-p.card::before{
            background-image: url(../images/card.svg);
        }
        &-p.lock::before{
            background-image: url(../images/lock.svg);
        }
        &-p.star::before{
            background-image: url(../images/star-classic.svg);
        }
        &-p.darts::before{
            background-image: url(../images/darts.svg);
        }
    }
}

.slider{
    min-width: 0;
    margin-bottom: 120px;
    .swiper-slide-active{
        opacity: 1;
        transition: all .3s
    }
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
        position: relative;
        top: 50px;
    }
    .swiper-scrollbar-drag{
        background: #5888DE;
        height: 8px;
        top: -2px;
    }
    &__wrapper{
        counter-reset: counter;
    }
    &__slide{
        // max-width: 690px !important;
        height: 450px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        opacity: 0.5;
        &-title{
            margin-bottom: 27px;
            font-size: 48px;
            font-family: 'Gogh-ExtraBold';
            position: relative;
            padding-left: 124px;
        }
        &-p{
            font-family: 'Onest-Medium';
            font-size: 20px;
            color: #5179C4;
            line-height: 120%;
            letter-spacing: 0.8px;
            margin-bottom: 16px;
            padding-left: 124px;
        }
        &-list{
            list-style: disc;
            padding-left: 124px;
        }
        &-li{}
        &-descr{
            padding-left: 124px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price{
            font-family: 'Onest-Black';
            font-size: 40px;
            line-height: 128%;
            letter-spacing: 0.6px;
        }
    }
    &__slide::before{
        content: counter(counter);
        counter-increment: counter;
        font-family: 'Onest-Black';
        font-size: 40px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background-image: url(../images/star-slider.svg);
        background-repeat: no-repeat;
        transform: translateY(-12px);
        padding-left: 35px;
        padding-top: 21px;    
    }
}

.benefits{
    margin-bottom: 120px;
    &__inner{}
    &__title{
        font-family: 'Gogh-ExtraBold';
        font-size: 36px;
        max-width: 380px;
        color: #49443D;
    }
    &__descr{
        display: flex;
        align-items: center;
    }
    &__list{
        &-li{
            position: relative;
            padding-left: 95px;
            margin-bottom: 55px;
        }
        &-li::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 64px;
            height: 64px;
            background-image: url(../images/star\ 2.svg);
            background-repeat: no-repeat;
        }
    }

}

.clients{
    margin-bottom: 40px;
    &__items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.client-images{
    text-align: center;
    margin-bottom: 90px;
}

.feedback{
    background: #5888DE;
    padding: 40px 0;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 444px;
        height: 100%;
        background-image: url(../images/circles-l.svg);
        background-repeat: no-repeat;
    }
    &__inner{
        max-width: 790px;
    }
    &-p,
    &__form-label{
        font-family: 'Onest-Medium';
        font-size: 20px;
        color: #fff;
        margin-bottom: 30px;
        letter-spacing: 0.8px;
    }
    &__form{
        &-inputs{
            display: flex;
            // flex-direction: column;
            margin-bottom: 25px;
        }
        &-inputs-item{
            display: flex;
            flex-direction: column;
            margin-right: 25px;
        }
        &-inputs-item:last-child{
            margin-right: 0;
        }
        &-input{
            border-radius: 21px;
            background: #E9E9E9;
            padding: 10px 16px;
            color: #484848;
            font-family: 'Onest-Regular';
            font-size: 16px;
            border: none;
            outline: none;
            letter-spacing: 0.24px;
        }
        &-inputs-textarea{
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
        }
        &-textarea{
            height: 160px;
            background: #E9E9E9;
            border-radius: 21px;
            padding: 10px 16px;
            font-family: 'Onest-Regular';
            font-size: 16px;
            border: none;
            outline: none;
            letter-spacing: 0.24px;
        }
        &-btn{
            padding: 10px 16px;
            font-family: 'Mulish-Medium';
            font-size: 16px;
            color: #4d4d4d;
            border-radius: 37px;
            background: #FFF;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

.footer{
    padding: 50px 0;
    background-color: var(--grey-e-9-e-9-e-9, #E9E9E9);
    &__columns{
        display: flex;
        justify-content: space-between;
        font-family: 'Onest-Medium';
        color: #4D4D4D;
        &-title{
            font-family: 'Gogh-ExtraBold';
            font-size: 48px;
            margin-bottom: 15px;
        }
        &-list{}
        &-li{
            margin-bottom: 8px;
            max-width: 400px;
        }
        &-li:last-child{
            margin-bottom: 0;
        }
    }
    &__contacts-link{
        font-family: 'Onest-Regular';
        span{
            font-family: 'Onest-Bold';
        }
    }
}